<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="tr">

<head>
    <title></title>
    <meta charset="UTF-8">

</head>
<body>

<div th:fragment="footer">

    <footer class="my-sm-3 pt-5 text-center">
        <!-- this is footer -->
        <h2 class="text-center" th:text="${subhanekeText}"></h2>
        <hr>
        <div class="justify-content-md-center">
            <p class="mb-4">Copyright <i class="fa fa-copyright"></i> 2023 "Quran Counter" Her Hakkı Mahfuzdur.</p>
            <hr>
            <div>
                <footer class="my-sm-3">
                    <div class="justify-content-md-center">
                        <a href="mailto:info@kuranlayasiyorum.com"
                           title="Bizimle info@kuranlayasiyorum.com üzerinden iletişim kurunuz"><i
                                style="font-size: 30px" class="fa-solid fa-square-envelope fa-lg"></i><br>Bizimle
                            iletişime geçiniz</a>
                    </div>
                </footer>
            </div>
            <hr>
        </div>
    </footer>
</div>
</body>
</html>

