<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">

</head>
<body>

<div th:fragment="footer">
    <hr>

    <footer class="my-sm-3 pt-5 text-center">
        <!-- this is footer -->
        <h2 style="color:#16151a; background-color:#D9514EFF"> Kur'an İle Yaşıyoruz </h2>
        <hr>
        <div class="justify-content-md-center">
            <p class="mb-4">Copyright <i class="fa fa-copyright"></i> 2023 "Quran Counter" Her Hakkı Mahfuzdur.</p>
            <hr>
            <a href="mailto:info@kuranlayasiyorum.com"><i style="font-size: 30px" class="fa-solid fa-square-envelope fa-lg"></i></a>
            <hr>
        </div>
    </footer>
</div>
</body>
</html>

