<html xmlns:th="http://www.thymeleaf.org">
<head lang="tr">

    <div th:fragment="css">

        <style th:inline="text">
            #loader {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: 10000;
            }
        </style>

    </div>

</head>
<body>
<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">Anasayfa</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
</body>
</html>
