<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="tr">
<head>
    <meta charset="UTF-8">
    <title>404 Sayfa Bulunamadı</title>
  <link th:href="@{/css/404Style.css}" rel="stylesheet">
</head>
<body>
<h1>404 Sayfa Bulunamadı Hatası</h1>
<p class="zoom-area"> Lütfen <b>Anasayfaya</b> Dönünüz. </p>
<section class="error-container">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
</section>
<div class="link-container">
  <a target="_blank" href="https://kuranlayasiyorum.com/" class="more-link">AnaSayfa</a>
</div>
</body>
</html>