<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="tr">
<head>
    <title>Kur'an Sayacı</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

    <!-- Spinner için CSS kodunu yazın -->
    <style>
        .loading-spinner {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loading-spinner i {
            font-size: 100px;
        }
    </style>
</head>
<body>

<div class="container">

    <hr>
    <div class="daily-hadis" id="lastActiveSurah"></div>
    <hr>

    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" th:src="@{/images/quran.png}" width="72" height="72" alt="kuran-sayaci">
        <h2>بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيم</h2>
        <br>
        <hr>
        <div class="daily-hadis" th:utext="${dailyHadis.hadis}"></div>
        <hr>


    </div>
    <br>
    <!-- Yasin Start -->
    <h4 class="text-center">1 Milyondan Kalan Yasin Suresi: <br> <span th:text="${allCounts.yasin}"></span></h4>

    <div class="progress">
        <div class="progress-bar   progress-bar-animated bg-success" role="progressbar"
             th:aria-valuenow="${allReverseCounts.reverseYasin}" aria-valuemin="0"
             th:aria-valuemax="${allMaxCounts.yasinMaxCount}"
             th:style="'width:' + ${progressBarPerc.yasinProgress} + '%'">
            <span th:text="${#numbers.formatDecimal(progressBarPerc.yasinProgress, 0, 2)+ '%'}"></span>
        </div>
    </div>
    <br>
    <!-- Yasin Button Group Start -->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mt-2" role="group" aria-label="first-group">
            <form action="#" id="updateSurahCountForm1" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="YASIN"/>
                <input id="count" name="count" type="hidden" th:value="1"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" onclick="showLoadingSpinner(1,'yasin')" th:disabled="${allCounts.yasin == 0}" type="submit">
                            1 &nbsp;Yasin&nbsp;&nbsp;
                            Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#"  class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="YASIN"/>
                <input id="count" name="count" type="hidden" th:value="5"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(5,'yasin')" th:disabled="${allCounts.yasin == 0}" type="submit">
                            5 &nbsp;Yasin&nbsp;&nbsp;
                            Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#"  class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="YASIN"/>
                <input id="count" name="count" type="hidden" th:value="10"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(10,'yasin')" th:disabled="${allCounts.yasin == 0}" type="submit">
                            10
                            Yasin
                            Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="YASIN"/>
                <input id="count" name="count" type="hidden" th:value="20"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(20,'yasin')" th:disabled="${allCounts.yasin == 0}" type="submit">
                            20 Yasin Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#"  class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="YASIN"/>
                <input id="count" name="count" type="hidden" th:value="50"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(50,'yasin')" th:disabled="${allCounts.yasin == 0}" type="submit">
                            50
                            Yasin
                            Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="YASIN"/>
                <input id="count" name="count" type="hidden" th:value="100"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(100,'yasin')" th:disabled="${allCounts.yasin == 0}" type="submit">
                            100
                            Yasin
                            Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#"  class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="YASIN"/>
                <input id="count" name="count" type="hidden" th:value="200"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(200,'yasin')" th:disabled="${allCounts.yasin == 0}" type="submit">
                            200
                            Yasin
                            Okudum
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <br>
    <br>

    <!-- Fetih Start -->

    <h4 class="text-center">1 Milyondan Kalan Fetih Suresi:<br> <span th:text="${allCounts.fetih}"></span></h4>
    <div class="progress">
        <div class="progress-bar   progress-bar-animated bg-success" role="progressbar"
             th:aria-valuenow="${allReverseCounts.reverseFetih}"
             aria-valuemin="0"
             th:aria-valuemax="${allMaxCounts.fetihMaxCount}"
             th:style="'width:' + ${progressBarPerc.fetihProgress} + '%'">
            <span th:text="${#numbers.formatDecimal(progressBarPerc.fetihProgress, 0, 2)+ '%'}"></span>
        </div>
    </div>
    <br>

    <!-- Fetih Button Group Start -->

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mt-2" role="group" aria-label="first-group">

            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="FETIH"/>
                <input id="count" name="count" type="hidden" th:value="1"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(1,'fetih')" th:disabled="${allCounts.fetih == 0}" type="submit">
                            1 &nbsp;Fetih&nbsp;&nbsp;
                            Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="FETIH"/>
                <input id="count" name="count" type="hidden" th:value="5"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(5,'fetih')" th:disabled="${allCounts.fetih == 0}" type="submit">
                            5 &nbsp;Fetih&nbsp;&nbsp;
                            Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="FETIH"/>
                <input id="count" name="count" type="hidden" th:value="10"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(10,'fetih')" th:disabled="${allCounts.fetih == 0}" type="submit">
                            10 &nbsp;Fetih&nbsp;&nbsp;
                            Okudum
                        </button>
                    </div>
                </div>
            </form>


            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="FETIH"/>
                <input id="count" name="count" type="hidden" th:value="20"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(20,'fetih')" th:disabled="${allCounts.fetih == 0}" type="submit">
                            20 &nbsp;Fetih&nbsp;&nbsp;
                            Okudum
                        </button>
                    </div>
                </div>
            </form>
            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="FETIH"/>
                <input id="count" name="count" type="hidden" th:value="50"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(30,'fetih')" th:disabled="${allCounts.fetih == 0}" type="submit">
                            50 &nbsp;Fetih&nbsp;&nbsp;
                            Okudum
                        </button>
                    </div>
                </div>
            </form>


            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="FETIH"/>
                <input id="count" name="count" type="hidden" th:value="100"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(100,'fetih')" th:disabled="${allCounts.fetih == 0}" type="submit">100 Fetih Okudum</button>
                    </div>
                </div>
            </form>


            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="FETIH"/>
                <input id="count" name="count" type="hidden" th:value="200"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(200,'fetih')" th:disabled="${allCounts.fetih == 0}" type="submit">
                            200 Fetih Okudum
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br>
    <br>

    <!-- Cevşen Start -->
    <h4 class="text-center">Yüzbinden Kalan Cevşen-ul Kebir:<br> <span th:text="${allCounts.cevsen}"></span></h4>
    <div class="progress">
        <div class="progress-bar   progress-bar-animated bg-success" role="progressbar"
             th:aria-valuenow="${allReverseCounts.reverseCevsen}"
             aria-valuemin="0"
             th:aria-valuemax="${allMaxCounts.cevsenMaxCount}"
             th:style="'width:' + ${progressBarPerc.cevsenProgress} + '%'">
            <span th:text="${#numbers.formatDecimal(progressBarPerc.cevsenProgress, 0, 2)+ '%'}"></span>
        </div>
    </div>
    <br>

    <!-- Cevşen Button Group Start -->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mt-2" role="group" aria-label="first-group">
            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}" aria-label="Cevsen 1 Form">
                <input id="surahType" name="surahType" type="hidden" th:value="CEVSEN"/>
                <input id="count" name="count" type="hidden" th:value="1"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(1,'cevsen')" th:disabled="${allCounts.cevsen == 0}" type="submit">
                            1
                            Cevşen
                            Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="CEVSEN"/>
                <input id="count" name="count" type="hidden" th:value="5"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(5,'cevsen')" th:disabled="${allCounts.cevsen == 0}" type="submit">
                            5
                            Cevşen
                            Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="CEVSEN"/>
                <input id="count" name="count" type="hidden" th:value="10"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(10,'cevsen')" th:disabled="${allCounts.cevsen == 0}" type="submit">
                            10
                            Cevşen
                            Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="CEVSEN"/>
                <input id="count" name="count" type="hidden" th:value="20"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(20,'cevsen')"  th:disabled="${allCounts.cevsen == 0}" type="submit">
                            20
                            Cevşen
                            Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="CEVSEN"/>
                <input id="count" name="count" type="hidden" th:value="50"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner()" th:disabled="${allCounts.cevsen == 0}" type="submit">
                            50
                            Cevşen
                            Okudum
                        </button>
                    </div>
                </div>
            </form>


            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="CEVSEN"/>
                <input id="count" name="count" type="hidden" th:value="100"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(100,'cevsen')" th:disabled="${allCounts.cevsen == 0}" type="submit">100
                            Cevşen
                            Okudum
                        </button>
                    </div>
                </div>
            </form>

            <form action="#" class="form-horizontal" method="post" role="form"
                  th:action="@{/updateSurahCount}" th:object="${surahForm}">
                <input id="surahType" name="surahType" type="hidden" th:value="CEVSEN"/>
                <input id="count" name="count" type="hidden" th:value="200"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary " onclick="showLoadingSpinner(200,'cevsen')" th:disabled="${allCounts.cevsen == 0}" type="submit">200 Cevşen
                            Okudum
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


<link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" th:rel="stylesheet"/>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script th:src="@{webjars/jquery/3.6.4/jquery.min.js}"></script>
<link th:href="@{/webjars/font-awesome/6.3.0/css/all.min.css}" th:rel="stylesheet"/>

<link rel="stylesheet" th:href="@{/css/styles.css}"/>
<link rel="">

<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Spinner'ı ekranda gösteren fonksiyonu yazın -->
<script>

    $(document).ready(function() {
        // Verileri önbellekten alma
        if (localStorage.getItem("lasActiveSurah")) {
            // Veriler önbellekte varsa, önbellekten verileri al
            var data = localStorage.getItem("lasActiveSurah");
            $('#lastActiveSurah').append("Son Okunan: " + data.split("-")[0] + " tane " + data.split("-")[1]);
        }
        });



    function showLoadingSpinner(count,type) {
        // Spinner HTML kodunu oluşturun
        var spinnerHtml = '<div class="loading-spinner"><i class="fas fa-spinner fa-spin"></i></div>';

        // Spinner'ı formun içine ekleyin
        $('#updateSurahCountForm1').append(spinnerHtml);

        localStorage.setItem("lasActiveSurah", count + "-" + type);

    }
</script>

</body>
</html>